<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Sarya</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>sarya</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>NSAppleMusicUsageDescription</key>
		<string>Your Music Library is used to update Alerts.</string>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>Your bluetooth is used for directions.</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>Your bluetooth is used for directions.</string>
		<key>NSCalendarsUsageDescription</key>
		<string>Your calendar is used to give precise date for messages.</string>
		<key>NSCameraUsageDescription</key>
		<string>Your camera is used to update your profile picture and add product images.</string>
		<key>NSContactsUsageDescription</key>
		<string>Your contact list is used to connect</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>Dialboxx uses your local network for Server communication.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Your location is used to provide directions to the destination.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Your location is used to show you businesses nearby.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Your location is used to provide directions to the destination.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Dialboxx needs to access your device microphone for audio.</string>
		<key>NSMotionUsageDescription</key>
		<string>Dialboxx would like to access your motion.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Your photo library is used to update profile picture and add product images.</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>The app uses speech recognition for dictating messages.</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>comgooglemaps</string>
            <string>baidumap</string>
            <string>iosamap</string>
            <string>waze</string>
            <string>yandexmaps</string>
            <string>yandexnavi</string>
            <string>citymapper</string>
            <string>mapswithme</string>
            <string>osmandmaps</string>
            <string>dgis</string>
            <string>qqmap</string>
            <string>here-location</string>
            <string>tomtomgo</string>
        </array>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
